#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: monospace;
}

#map-container {
  height: 100vh;
  width: 100vw;
}
.mapboxgl-canvas {
  cursor: crosshair !important;
}
.temp {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  
  border-radius: 4px;
}

.coordinate-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.predict-button {
  width: fit-content;
  padding: 10px 12px;
  
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: auto;
  margin-right: auto; 
}

.predict-button:hover {
  background-color: #357abd;
}

.predict-button:active {
  background-color: #2d6da3;
}

.container {
  z-index: 1;
  position: absolute;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
}


